@import 'variables';

body {
  @include fontDefault();

  margin: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  color: #fff;

  @media (min-width: 1600px) {
    font-size: 1.2em;
  }
}

#container-out {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-image: url('../../media/bg.jpg');
  background-position: center;
  background-size: cover;

  #container-main {
    flex-grow: 1;
    display: flex;
    position: relative;

    @media (max-width: 1050px) {
      min-height: 60vh;
      min-height: calc(var(--vh, 1vh) * 100 - 13em);
    }

    #twitter {
      position: absolute;
      bottom: 1em;
      right: 1em;

      img {
        width: 2.5em;
      }
    }

    #container-time {
      position: absolute;
      bottom: 1.5em;
      left: 1.5em;
      display: flex;
      align-items: center;

      &:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        background-color: #ee8633;
        margin-right: 1em;
      }
    }

    #logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      max-width: 25em;
    }
  }

  #container-links {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-auto-rows: 1fr;
    min-width: 35em;
    min-height: 40em;

    .container-link {
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      padding: 1.5em;

      &:nth-last-child(-n + 3) {
        border-bottom: none;
      }

      img {
        max-width: 12em;
      }

      .links-title {
        @include fontTitle();
        margin-bottom: 0.5em;

        &--uppercase {
          @extend .links-title;
          text-transform: uppercase;
        }
      }

      .link-text {
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (min-width: 1050px) {
        &:nth-child(-n + 2) {
          border-top: none;
        }
      }

      @media (max-width: 1050px) {
        &:nth-child(3n),
        &:first-child {
          border-left: none;
        }
      }

      @media (max-width: 768px) {
        &:nth-child(n + 3) {
          grid-column: 1 / 4;
          border-left: none;
        }

        .link-text {
          font-size: 1.2em;
        }
      }

      @media (max-width: 450px) {
        padding: 1em;
      }

      @media (max-width: 350px) {
        padding: 0.75em;
      }
    }

    @media (max-width: 768px) {
      min-width: auto;
      grid-template-columns: 30% 30% 40%;
    }
  }
}

@import 'base';
@import 'newsletter';
